*,
html,
body {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-warp {
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.page-content {
  width: 1200px;
  height: auto;
  padding-top: 31px;
  margin: 0 auto;
}

.page-content .top-title {
  text-align: left;
  font-size: 30px;
  color: #333333;
}

/* 左侧车型图片和右侧tab选项 */

.top-content {
  width: 100%;
  display: flex;
  margin-top: 24px;
}

.top-content .left-img-cont {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.top-content .left-img-cont .hr {
  border-top: 1px solid #eee;
}

.top-content .left-img-cont img {
  height: 337px;
  width: 100%;
}

.top-content .left-img-cont p {
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
}

.top-content .left-img-cont .del-text {
  position: relative;
}
.top-content .left-img-cont .del-line {
  position: absolute;
  top: 8px;
  height: 4px;
  background-color: #ff0200;
  width: 100%;
  left: 0;
}
.top-content .left-img-cont .del-desc-text {
  color: #ff0200;
}

.top-content .left-img-cont .share-cont {
  display: flex;
  font-size: 14px;
  color: #666666;
  margin-top: 16px;
  align-content: center;
  position: relative;
}

.top-content .left-img-cont .share-cont img {
  width: 25px;
  margin-right: 25px;
  height: 23px;
  vertical-align: middle;
  cursor: pointer;
}

.top-content .left-img-cont .share-cont .qr-code-box {
  width: 132px;
  height: 140px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  background: #fff;
  top: 35px;
  padding: 15px 14px;
  display: none;
}

.top-content .left-img-cont .share-cont .qr-code-box .qr-code-desc {
  font-size: 12px;
  color: #666666;
  text-align: center;
  margin-top: 0;
}

.top-content .left-img-cont .share-cont .qr-code-box .qr-map {
  width: 100px;
  height: 100px;
  margin: 15px auto auto auto;
  background-color: #333;
}

.right-tab-content {
  flex: 1;
}

.right-tab-content .right-people-num {
  height: 60px;
  border-left: 2px solid #0287f4;
  width: 100%;
  background-color: #f2f9fe;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.right-tab-content .right-people-num .num-box {
  flex: 1;
}

.right-tab-content .right-people-num .num-box .people {
  font-size: 24px;
  color: #ff0200;
}

.right-tab-content .right-people-num .num-box .people-split {
  margin-left: 20px;
  margin-right: 20px;
}

.right-tab-content .right-people-num .num-box .people-count {
  font-size: 14px;
  color: #ff0200;
}

.right-tab-content .right-people-num .timer-cont {
  width: 205px;
  margin-right: 20px;
}

.right-tab-content .right-people-num .timer-cont .time {
  background: #453b3b;
  border-radius: 2px;
  padding: 3px;
  color: #fff;
}

.right-tab-content .right-tip {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.right-tab-content .right-tip span {
  margin-right: 20px;
  font-size: 14px;
  color: #666666;
}

.right-tab-content .right-tip img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.right-tab-content .right-tab-select {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 30px;
}

.right-tab-content .right-tab-select .tab-title {
  margin-right: 15px;
}

.right-tab-content .right-tab-select .select-span span {
  padding: 8px 15px;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.right-tab-content .right-tab-select .select-span {
  flex: 1;
}

.right-tab-content .right-tab-select .select-span span.active {
  background: #0287f4;
  border: 1px solid #0287f4;
  color: #fff;
}

.more-car {
  font-size: 12px;
  color: #0287f4;
  margin-left: 70px;
  cursor: pointer;
  display: none;
}

.right-form-desc {
  margin-top: 24px;
  font-size: 12px;
  color: #999999;
  margin-left: 70px;
}

.right-form-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}

.right-form-content .input-cont {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.right-form-content .input-cont .label {
  margin-right: 15px;
}

.right-form-content .input-cont .input {
  width: 340px;
  height: 40px;
}

.right-form-content .input-cont input {
  width: 100%;
  height: 40px;
  border: 1px solid #0287f4;
  padding: 0 10px;
  border-radius: 3px;
}

.right-form-content .button-submit {
  width: 100%;
  border: 1px solid #0287f4;
  background: #0287f4;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px 10px;
  margin-top: 20px;
  cursor: pointer;
}

.right-form-content .button-desc {
  font-size: 14px;
  color: #999999;
  margin-top: 10px;
  display: block;
}

.error-form-tip {
  font-size: 14px;
  color: #ff0200;
  margin-left: 40px;
  display: none;
}

/* 活动介绍 */

.center-top-content {
  display: flex;
  margin-top: 58px;
  justify-content: space-between;
}

.center-top-content .center-top-content-left {
  flex: 1;
  margin-right: 30px;
}

.center-top-content .center-top-content-left .left-tip {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #0287f4;
}

.center-top-content .center-top-content-left .left-tip span {
  display: inline-block;
  padding: 14px 38px;
  cursor: pointer;
}

.center-top-content .center-top-content-left .left-tip span.active {
  background-color: #0287f4;
  color: #fff;
}

.center-top-content .center-top-content-left .new-enter {
  font-size: 18px;
  color: #333333;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.blue-dot {
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #0287f4;
  margin-right: 10px;
}

.center-top-content .center-top-content-left .ul-cont {
  display: flex;
  justify-content: space-between;
}

.center-top-content .center-top-content-left .first-ul {
  margin-right: 60px;
}

.center-top-content .center-top-content-left ul {
  margin-top: 18px;
}

.center-top-content .center-top-content-left li {
  margin-bottom: 24px;
  font-size: 16px;
  color: #999;
  display: flex;
}

.center-top-content .center-top-content-left ul li span {
  margin-right: 20px;
}
.center-top-content .center-top-content-left ul li p {
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center-top-content .center-top-content-left ul li span:last-child {
  margin-right: 0;
  margin-left: 20px;
}

.center-top-content .center-top-content-left .name {
  color: #333;
}

.center-top-content .center-top-content-right {
  width: 400px;
}

.center-top-content .center-top-content-right .right-tip {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #0287f4;
}

.center-top-content .center-top-content-right .right-tip span {
  display: inline-block;
  padding: 14px 38px;
  cursor: pointer;
}

.center-top-content .center-top-content-right img {
  width: 100%;
  margin-top: 27px;
}

/* 中间 历史活动、活动车型 */

.center-bottom-content {
  width: 100%;
}

.center-bottom-content .history-active {
  font-size: 18px;
  color: #333333;
  display: flex;
  align-items: center;
}

.center-bottom-content .center-cont {
  display: flex;
}

.center-bottom-content .center-bottom-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 20px;
}

.center-bottom-content .center-bottom-left-top {
  display: flex;
  justify-content: space-between;
}

.center-bottom-left-top .num-box {
  width: 230px;
  height: 130px;
  background: #fcfcfc;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.center-bottom-left-top .num-box:not(:last-child) {
  margin-right: 20px;
}

.center-bottom-left-top .num-box-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.center-bottom-left-top .num-box .num-count {
  font-size: 24px;
  color: #333333;
  display: block;
}

.center-bottom-left-top .num-box .num-desc {
  font-size: 14px;
  color: #999999;
  margin-top: 8px;
}

.center-bottom-content .center-bottom-right {
  width: 400px;
}

.center-bottom-content .center-bottom-right .right-tip {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #0287f4;
}

.center-bottom-content .center-bottom-right .right-tip.margin-top {
  margin-top: 40px;
}

.center-bottom-content .center-bottom-right .right-tip span {
  display: inline-block;
  padding: 14px 38px;
  cursor: pointer;
}

.center-bottom-content .center-bottom-right img {
  width: 100%;
  margin-top: 20px;
}

.center-bottom-content .center-bottom-right .brightened_dot {
  width: 70%;
}

.center-bottom-left-slide {
  width: 770px;
  display: flex;
  background: #fcfcfc;
  border: 1px solid #eeeeee;
  margin-top: 30px;
}

.swiper-slide {
  display: flex;
}

.center-bottom-left-slide .left-slide-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.center-bottom-left-slide .slide-box-top {
  display: flex;
}

.center-bottom-left-slide .slide-box-top .name {
  font-size: 18px;
  color: #333333;
  flex: 1;
}

.center-bottom-left-slide .slide-box-top .star {
  display: flex;
  width: 120px;
}

.center-bottom-left-slide .slide-box-top .star img {
  margin-left: 5px;
}

.center-bottom-left-slide .slide-box-tip {
  font-size: 14px;
  color: #999999;
  margin-top: 6px;
}

.center-bottom-left-slide .slide-top-text {
  font-size: 14px;
  color: #333333;
  margin-top: 10px;
}

.car-type {
  margin-top: 40px;
  font-size: 18px;
  color: #333333;
  display: flex;
  align-items: center;
}

.car-year-type {
  margin-top: 20px;
  padding: 5px 10px;
  background: #f7f7f7;
}

.car-year-type.no-margin-top {
  margin-top: 0px;
}

.car-price-list {
}

.car-price-list li {
  padding: 9px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.car-price-list .car-desc {
  font-size: 16px;
  color: #333333;
  flex: 1;
}

.car-price-list .price-desc {
  font-size: 16px;
  color: #999999;
}

.car-price-list .price {
  font-size: 16px;
  color: #333333;
}

.car-price-list .ask-btn {
  background: #0287f4;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 60px;
  cursor: pointer;
}

.car-dealer {
  font-size: 18px;
  color: #333333;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.map-content {
  width: 770px;
  height: 450px;
  background-color: #eee;
  margin-top: 20px;
  margin-bottom: 60px;
}

/**
滚动出现的顶部导航
**/

.fixed-top-nav-content {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
}

.fixed-top-nav-content .nav-content {
  width: 1200px;
  margin: auto;
  display: flex;
}

.fixed-top-nav-content .span-nav {
  flex: 1;
}

.fixed-top-nav-content .nav-content span.active {
  background-color: #0287f4;
  color: #fff;
}

.fixed-top-nav-content .nav-content span {
  display: inline-block;
  padding: 29px 38px;
  cursor: pointer;
}

.fixed-top-nav-content .nav-content .right-price-content {
  display: flex;
  align-items: center;
  width: 535px;
}

.fixed-top-nav-content .nav-content .right-price-content p {
  font-size: 18px;
  color: #333333;
}

.fixed-top-nav-content .nav-content .right-price-content .ask-price {
  font-size: 24px;
  color: #ffffff;
  background: #0287f4;
  padding: 15px 64px;
  margin-left: 20px;
}

.ask-pop {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.ask-pop .ask-pop-content {
  position: fixed;
  width: 480px;
  height: 380px;
  background-color: #fff;
  transform: translate(-50%);
  left: 50%;
  top: 30%;
}

.ask-pop .ask-pop-content .pop-title {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #f7f7f7;
}

.ask-pop .ask-pop-content .pop-title .title {
  flex: 1;
  font-size: 14px;
  color: #333333;
}

.ask-pop .ask-pop-content .pop-title .close-pop {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.ask-pop .ask-pop-content .pop-desc {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  padding: 0 30px;
}

.ask-pop .ask-pop-content .pop-desc-color {
  color: #0287f4;
}

.ask-pop .ask-pop-content .form-cont {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.ask-pop .ask-pop-content .form-group {
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin-top: 15px;
}

.ask-pop .ask-pop-content .form-group label {
  font-size: 14px;
  color: #666666;
  margin-right: 10px;
}

.ask-pop .ask-pop-content .form-group input {
  width: 280px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 10px;
}

.ask-name-tip,
.ask-phone-tip {
  font-size: 14px;
  color: #ff0200;
  margin-left: 115px;
  display: none;
}

.ask-pop .ask-pop-content .submit-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding-left: 55px;
}

.ask-pop .ask-pop-content .ask-submit {
  background: #0287f4;
  width: 300px;
  height: 40px;
  border: 1px solid #0287f4;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.ask-pop .ask-pop-content .submit-cont span {
  font-size: 14px;
  color: #999999;
  margin-top: 11px;
}
