*,
html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.page-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.form-content {
  width: 420px;
  height: 220px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
}
.form-content .form-desc {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}
.form-content .form-group {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.form-content .form-group .input-box {
  width: 300px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 10px;
  position: relative;
}
.form-content .form-group input {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 14px;
  outline: none;
}
.form-content .form-group .time-box {
  position: absolute;
  right: 0;
  width: 60px;
  height: 40px;
  top: 0;
  background: #f7f7f7;
  border-radius: 0 2px 2px 0;
  font-size: 14px;
  color: #999999;
  text-align: center;
  line-height: 40px;
}
.form-content .form-group .readonly-phone {
  color: #999999;
  cursor: no-drop;
}
.form-content .form-group .error-tip {
  font-size: 14px;
  color: #ff0200;
  margin-left: 15px;
  display: none;
}
.form-content .form-group .change-phone {
  font-size: 14px;
  color: #0287f4;
  margin-left: 15px;
  cursor: pointer;
}
.form-content .submit-btn {
  background: #0287f4;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  width: 320px;
  height: 40px;
  border: 1px solid #0287f4;
  margin-bottom: 11px;
  cursor: pointer;
}
.form-content .bottom-tip {
  font-size: 14px;
  color: #999999;
}
