*,
html,
body {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.success-page {
  width: 1200px;
  margin: 0 auto;
}
.success-container {
  width: 557px;
  margin: 0 auto;
  padding-top: 40px;
}
.process-bar {
  width: 75%;
  margin: 0 auto;
}
.process-bar-two ul li:first-child {
  width: 74%;
  margin-left: 42px;
}
.process-bar li {
  display: inline-block;
  width: 46%;
  border-bottom: 2px solid #b0b0b0;
  position: relative;
}
.process-bar li:last-child {
  width: 0;
}
.process-bar li.active {
  border: 2px solid #0287f4;
}
.process-bar li .pending {
  color: #b0b0b0;
}

.process-bar li img {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -18px;
  top: -18px;
}
.process-bar li span {
  position: absolute;
  top: 28px;
  left: -35px;
  font-size: 14px;
  color: #333333;
  width: 70px;
  text-align: center;
}

.success-tip {
  width: 100%;
  height: 63px;
  line-height: 63px;
  background: #f5f5f5;
  font-size: 14px;
  color: #333333;
  margin-top: 70px;
  text-align: center;
}

.buy-car-city {
  display: flex;
  margin-top: 45px;
  align-items: center;
  font-size: 14px;
}
label {
  margin-right: 25px;
  width: 60px;
}
.buy-car-city select {
  height: 40px;
  width: 112px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 25px;
}

.select-tip {
  font-size: 12px;
  color: #999999;
  margin-left: 85px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.car-type-price {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.car-type-price select {
  width: 138px;
  height: 40px;
  margin-right: 19px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.license-plate,
.buy-car-way,
.buy-car-cycle,
.is-arrived {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.radio-box {
  width: 113px;
}
.license-plate input,
.buy-car-way input,
.buy-car-cycle input,
.is-arrived input {
  margin-right: 12.7px;
}

.submit-btn {
  width: 300px;
  line-height: 40px;
  background: #0287f4;
  border-radius: 3px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 45px auto 43px auto;
}

.success-desc {
  text-align: center;
}
.success-desc img {
  width: 35px;
  height: 35px;
  margin-bottom: 12px;
  margin-top: 120px;
}

.success-desc .success {
  font-size: 25px;
  color: #333333;
  margin-bottom: 10px;
}

.success-desc .call-you {
  font-size: 14px;
  color: #333333;
  margin-bottom: 53px;
}

.success-desc .check-more {
  width: 204px;
  line-height: 40px;
  background: #0287f4;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto;
}
